<main-slider></main-slider>
<div class="fast-menu">
    <div class="container clearfix">
        <a href="javascrit:;" class="fast-menu-item left">
            Кредитные карты
        </a>
        <a href="javascrit:;" class="fast-menu-item left">
            Сберегательные карты
        </a>
        <a href="javascrit:;" class="fast-menu-item left">
            Депозиты
        </a>
    </div>
</div>
<market-products></market-products>
<div class="catalog-products on-main">
    <div class="container clearfix">
        <div class="product-item left clearfix">
            <div class="img left">
                <img src="img/card.png">
            </div>
            <div class="text right">
                <div class="title">
                    Щедрий гаманець
                </div>
                <a href="javascript:;" class="btn">Заказать</a>
            </div>
        </div>
        <div class="product-item left clearfix">
            <div class="img left">
                <img src="img/card.png">
            </div>
            <div class="text right">
                <div class="title">
                    Щедрий гаманець
                </div>
                <a href="javascript:;" class="btn">Заказать</a>
            </div>
        </div>
    </div>
</div>